extends layout.pug

block body
  div(class='col s12')
    div(class='col s12 center-align')
      h1
        i(class='material-icons medium') error
        | 404: Page not found!
        i(class='material-icons medium') error
      a(class='waves-effect waves-light btn' href='/')
        i(class='material-icons right') home

block scripts
