<!--
Author: Alvin Lin (alvin.lin.dev@gmail.com)
-->

{% extends 'layout.html' %}

{% block body %}
  <div class="container">
    <h2 class="center">
      About Us:
    </h1>

    <div class="divider">
    </div>

    <div class="section">
      <p>
        Our company, Emerging Corporate Capital, was created with the goal in mind to help small companies succeed by providing them the necessary capital needed to fund their growth. The team at here at Emerging Corporate Capital strives to find new ways to finance these up and coming companies while reducing the risk of our holdings.
      </p>
      <br />
      <p>
        In sectors such as the OTC Markets, it is oftentimes dangerous to invest in companies without knowing what to do. The team here at the company is striving to help promote a safer way of investing in these firms, while increasing the returns for our own investors. We are striving to be the leader in this diverse market of financiers, and hope to become a leader in financing small cap companies, as well as financing companies that are listed on the Nasdaq exchange.
      </p>
    </div>
  </div>

{% endblock body %}
