extends layout.pug

block body
  div(class='parallax-container')
    div(class='parallax')
      img(src='/public/img/about.jpg')
    div(class='parallax-text')
      h1(class='center') About Us
  div(class='container')
    div(class='row')
      div(class='col l6 s12')
        h3(class='center') Our Story
        div(class='divider')
        p(class='flow-text about-text')
          | Founded in 2016 with the intention of helping small and medium sized businesses, Emerging Corporate Capital seeks to find and finance innovative industries in the public sector with workable capital, when traditional sources of capital are unavailable. The company believes that by providing the capital needed to many of these firms, these firms will be able to access venues that otherwise would be unavailable given their status, opening up many opportunities.
      div(class='col l6 s12')
        h3(class='center') Mission Statement
        div(class='divider')
        p(class='flow-text about-text')
          | At Emerging Corporate Capital, we are dedicated to promoting growth in companies lacking the necessary capital. Through divergent convertible note financing, we have revolutionized the convertible note market, bringing a new innovative way to bring value to both our investors and the companies we finance.
