extends layout.pug

block body
  div(class='container')
    h2(class='center') About Us
    div(class='divider')
    div(class='section')
      p
        | Founded in 2016 with the intention of helping small and medium sized businesses, Emerging Corporate Capital seeks to find and finance innovative industries in the public sector with workable capital, when traditional sources of capital are unavailable. The company believes that by providing the capital needed to many of these firms, these firms will be able to access venues that otherwise would be unavailable given their status, opening up many opportunities.
      br
      p
        | With an open mind, we here at the firm seek to build mutually beneficial relationships with our clients and their businesses, to move forward and grow together.
      
