extends layout.pug

block body
  div(class='parallax-container')
    div(class='parallax')
      img(src='/public/img/contact.jpg')
    div(class='parallax-text')
      h1(class='center') Contact Us
  div(class='container')
    div(class='row center')
      div(class='col l4 s12')
        h4 Phone
        p(class='flow-text') 1-800-SEX-4FREE
      div(class='col l4 s12')
        h4 Email
        p(class='flow-text') penis&#64;eccfinancing&#46;com
      div(class='col l4 s12')
        h4 Mailing Address
        p(class='flow-text') 123 Sesame Street
    div(class='divider')
  h4(class='center') Or Leave A Message
  form(id='contact-form' class='section container')
    div(class='row')
      div(class='input-field col s6 offset-s3')
        i(class='material-icons prefix') account_box
        input(id='contact-name' tabindex='1' type='text' autocomplete='off'
          required)
        label(for='contact-name') Name
    div(class='row')
      div(class='input-field col s6 offset-s3')
        i(class='material-icons prefix') email
        input(id='contact-email' class='validate' tabindex='2' type='email'
          autocomplete='off' required)
        label(for='contact-email') Email
    div(class='row')
      div(class='input-field col s6 offset-s3')
        i(class='material-icons prefix') business
        input(id='contact-ticker' tabindex='3' type='text' autocomplete='off')
        label(for='contact-ticker') Company Ticker
    div(class='row')
      div(class='input-field col s6 offset-s3')
        i(class='material-icons prefix') subject
        textarea(id='contact-message' class='materialize-textarea' tabindex='3')
        label(for='contact-message') Message
    div(class='row center-align')
      button(type='submit' class='waves-effect waves-light btn' tabindex='4')
        | Send
        i(class='material-icons right') send
  br

block scripts
  script(src='/public/js/contact.js')
