extends layout.pug

block body
  div(class='parallax-container')
    div(class='parallax')
      img(src='/public/img/index.jpg')
    div(class='parallax-text')
      h1(class='center') ECC Financing
      p(class='center flow-text') The future of finance
  div(class='section container')
    div(class='row center')
      div(class='col l4 s12')
        i(class='large material-icons') assessment
        p(class='flow-text') 80%+ returns over a year
      div(class='col l4 s12')
        i(class='large material-icons') work
        p(class='flow-text') Professionally driven and focused
      div(class='col l4 s12')
        i(class='large material-icons') lock
        p(class='flow-text') Secure and encrypted

block scripts
  script.
    $(document).ready(function() {
      $('.parallax').parallax();;
    });
