extends layout.pug

block body
  div(class='parallax-container')
    div(class='parallax')
      img(src='/public/img/index.png')
    div(class='parallax-text')
      h1(class='center') ECC Financing
      p(class='center flow-text') The future of finance
  div(class='section container')
    div(class='row center')
      div(class='col l4 s12')
        i(class='large material-icons') assessment
        p(class='flow-text') High Returns
      div(class='col l4 s12')
        i(class='large material-icons') audiotrack
        p(class='flow-text') Low Risk
      div(class='col l4 s12')
        i(class='large material-icons') timeline
        p(class='flow-text') Huge Potential

block scripts
  script.
    $(document).ready(function() {
      $('.parallax').parallax();;
    });
