extends layout.pug

block body
  div(class='parallax-container')
    div(class='parallax')
      img(src='/public/img/index2.jpg')
    div(class='parallax-text')
      h1(class='center white-text') ECC Financing
      p(class='center flow-text white-text') The future of finance
  div(class='section container')
    div(class='row center')
      div(class='col l4 s12')
        i(class='large material-icons') cloud_upload
        p(class='flow-text') Updated
        p(class='flow-text') Up to date on the latest opportunities internationally
      div(class='col l4 s12')
        i(class='large material-icons') all_inclusive
        p(class='flow-text') Flexibility
        p(class='flow-text') Financing deals are tailored to the specific needs of clients
      div(class='col l4 s12')
        i(class='large material-icons') timeline
        p(class='flow-text') Growth
        p(class='flow-text') Exploiting the hidden potential for growth in overlooked companies

block scripts
  script.
    $(document).ready(function() {
      $('.parallax').parallax();;
    });
