extends layout.pug

block body
  div(class='parallax-container')
    div(class='parallax')
      img(src='/public/img/bg.jpg')
  h1(class='center') Website Under Construction!

block scripts
  script.
    $(document).ready(function() {
      $('.parallax').parallax();;
    })
