/**
 * Main stylesheet for webpage.
 * @author Alvin Lin (alvin.lin.dev@gmail.com)
 */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  line-height: 2em;
}

main {
  flex: 1 0 auto;
}
