/**
 * Main stylesheet for webpage.
 * @author Alvin Lin (alvin.lin.dev@gmail.com)
 */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.parallax {
  opacity: 0.5;
}

.parallax-text {
  margin: 200px auto 0;
}

.about-text {
  padding: 5%;
}

.nav-wrapper {
  background-color: #a34243;
}

.page-footer {
  background-color:  #a34243;
  color: #ffffff;

  a {
    padding: 0 10px;
    color: #ffffff;
    text-decoration: none;

    &:visited {
      color: #ffffff;
    }

    &:hover {
      color: #ffffff;
    }
  }
}
